<div>
  <h3>About IRC</h3>
  <p>
    Our chat system uses IRC, or "Internet Relay Chat". This is a time-tested
    method to connect and chat with each other online. You can either configure
    your own client, or use the links below to access IRC over the web. Stop in,
    say hello, and try the veal.
  </p>

  <h3>Configuring your IRC Client</h3>
  <p>
    If you already have an IRC client, configure it to:
  </p>

  <ol>
    <li>Connect to irc.freenode.net</li>
    <li>Join the channel <b>#philly.rb</b></li>
  </ol>

  <p>
    Alternatively, you can use 
    <%= link_to 'this link', 'irc://irc.freenode.net/#philly.rb' %> if your IRC
    client is configured.
  </p>

  <h3>Connecting via the web</h3>
  <p>
    Fill out your username and the captcha below to get going!
  </p>

  <iframe src="http://webchat.freenode.net?channels=philly.rb&uio=d4" width="540" height="400"></iframe>
</div>
