<div>
  <h2>Ruby Jobs around Philadelphia</h2>

  <p>
    Anyone is welcome to post job offerings to the mailng list, just please follow these rules:
  </p>

  <ul>
    <li>Put "[JOB]" at the beginning of the subject</li>
    <li>Include the name and location of the company that's hiring</li>
    <li>Include some description of the desired skill set</li>
    <li>Do not include references to ninjas or rockstars</li>
  </ul>

  <p>
    We can also feature your posting on this page at your request. Of course,
    the best way to reach our members is to
    <a href="http://groups.google.com/group/phillyrb/post?sendowner=1&subject=Sponsorship">sponsor a meeting</a>.
    You simply pay for our meeting venue and some pizza and soda
    or other light dinner. All of our events are free to members and that's
    made possible by our generous sponsors.
  </p>

  <p>
    Email <a href="http://groups.google.com/group/phillyrb/post?sendowner=1">the organizers</a> if you are
    interested in posting or sponsoring.
  </p>

    <h2>Job Postings:</h2>
<ul>
  <li>
    <a href="http://anticlothes.com">AntiClothes, LLC</a> is looking for a part
    time Ruby developer to develop an ecommerce back end to the new
    AntiClothes.com. We're located about 30minutes south of Trenton, and 30
    minutes from Philadelphia. The job can be handled via telecommute with
    weekly or biweekly meet ups in Philadelphia. This would be a contract
    position, with additional work available if things go smoothly. Email
    president (at) anticlothes.com for more information.
  </li>
  <li><a href="http://www.telvue.com">TelVue Corporation</a>, a creator of broadcast video servers, is seeking a full-time Ruby on Rails developer that is also interested in Linux, .Net, and video technology, for our Mount Laurel, NJ office.  Entry-level to senior applicants are welcome.  Send resume to dpisarski (at) telvue.com .</li>
  <li>80 Degrees West, is looking for an RoR
  programmer to join our team as a CTO/Tech Lead. Could you please pass
  this along to the group?  Interested programmers can check out our
  <a href="http://80dwid.theresumator.com/apply">listing</a>.</li>
  <li>iTestVoIP is looking for a part time Rails developer, 10 to 25 hrs per week, to help develop our VoIP testing, monitoring, and analysis site.  We offer flexible work arrangements, either on site in our Hatfield office or remote is okay.  This is a contract position.  Contact craig (at) itestvoip dot com</li>
</ul>
</div>
