<div>
  <h2>Ruby Jobs around Philadelphia</h2>

  <p>
    Anyone is welcome to post job offerings to the mailng list, just please follow these rules:
  </p>

  <ul>
    <li>Put "[JOB]" at the beginning of the subject</li>
    <li>Include the name and location of the company that's hiring</li>
    <li>Include some description of the desired skill set</li>
    <li>Do not include references to ninjas or rockstars</li>
  </ul>

  <p>
    We can also feature your posting on this page at your request. Of course,
    the best way to reach our members is to
    <a href="http://groups.google.com/group/phillyrb/post?sendowner=1&subject=Sponsorship">sponsor a meeting</a>.
    You simply pay for our meeting venue and some pizza and soda
    or other light dinner. All of our events are free to members and that's
    made possible by our generous sponsors.
  </p>

  <p>
    Email <a href="http://groups.google.com/group/phillyrb/post?sendowner=1">the organizers</a> if you are
    interested in posting or sponsoring.
  </p>

    <h2>Job Postings:</h2>
<ul>
  <li>
  <a href="http://packlate.com">PackLate.com</a> is a growing company in the vacation rental space that is
  looking for passionate, driven and talented people to play a key role
  in our dev team. We are a fast moving, dynamic team seeking developers
  who are excited by building new applications, platforms, and
  interfaces. The ideal candidate will have experience with Ruby on
  Rails, HTTP, HTML, CSS, JavaScript and AJAX. Experience with Chef /
  Puppet, Selenium, EngineYard (or similar cloud-based platforms) and
  Linux are a plus. If you find it exciting to face challenges like
  building high throughput real-time interfaces, high velocity queuing,
  and complex travel systems, chances are you’ll fit right in.  See our
  <a href="http://www.packlate.com/job">full job description</a> for more
  information.
  </li>
  <li>
    <a href="http://chariotsolutions.com">Chariot Solutions</a> (Ft. Washington, PA) is looking for experienced Ruby
    Developers with excellent problem-solving, communication and
    analytical skills, comfort with Rails and knowledge of SQL databases.
    Open to contractors and full time employees. Please send resume to
    careers (at) chariotsolutions.com.
  </li>
  <li>
    <a href="http://lokalty.com">Lokalty</a> is a Philadelphia Area startup working to redefine local
    marketing that launched at the Oct 26th Philly Tech Meetup. Check out
    <a href="http://lokalty.com">lokality.com</a>, or download our Android/iPhone app to learn more about
    our business. We are looking for a Rails developer to join the
    founding team in Philly to lead backend development for our web/mobile
    apps. You get to work with our awesome platform built on Rails/MYSQL/
    HTML/JS and make it even more awesome. You should have experience
    leading web app development, preferably in Rails (experience with the
    LAMP stack and HTML/CSS/JS assumed). We will offer a combination of
    some compensation and equity. If this opportunity piques your interest,
    please send along your credentials and a few nice words about yourself
    and your interest in this role to jobs (at) lokalty.com.
  </li>
  <li>
    <a href="http://volunteerbig.com">VolunteerBIG</a> is a startup marketing
    company that seeks to use web technology to help us all have a greater
    impact in our home communities. We’re looking for a
    developer/programmer/coder to help create a web application that utilizes
    the All For Good API, Twitter, and Facebook APIs to combine social
    networking with information tracking and database management. If you are:
    strongly experienced building scalable and maintainable code in LAMP or an
    equivalent environment (Ruby on Rails, etc.) and a gifted database
    architect that can apply creative solutions with real world applications,
    please get in touch with Obi Okorougo @ 310/745-3239 or obi (at)
    volunteerbig.com.
  </li>
  <li>
    <a href="http://salescrunch.com">SalesCrunch</a> is looking for full-time
    engineers who have existing knowledge of Rails or really want to sink their
    teeth into it.  Our team of engineers have a thirst for knowledge.
    Regardless of what platform you use during the day, you should be
    experimenting with other languages like Clojure or other platforms like
    Node.js to grow your knowledge and understanding of what’s out there.
    Bending code to your will, hacking something that wasn’t meant to be, and
    making tests sing are among your favorite past times.  We're what you've
    been looking for in a company, product, and team.  Our HQ is in NYC but
    we're all telecommuting!
    <a href="http://www.salescrunch.com/rails-engineer">Job Description</a>
  </li>
  <li>
    <a href="http://www.neatco.com/">The Neat Company</a> seeks a Rubyist to help build out a Rails app and REST API for mobile and desktop clients. You will be responsible for web application and service design, development and cloud deployment and monitoring. Let's talk if you play well with others, love the cloud and want to not only build, but help define our product. See our <a href="http://www.neatco.com/our-company/careers/jobs/software-engineer-ruby-cloud">full job description</a> for more information.
  </li>
  <li>
    <a href="http://www.amphetamobile.com">Amphetamobile, LLC</a> specializes in
    mobile app development for education and scholarly publishing. Seeking a
    Senior Software Engineer who loves Ruby and is a JavaScript expert and
    experience building data-driven services and applications, consuming and
    creating API's. Telecommute with weekly meet ups in Philadelphia contract
    position with long term/full time potential. Full info on
    <a href="http://www.amphetamobile.com/jobs/ruby.html">our jobs page</a>.
  </li>
  <li>
    <a href="http://comcast.com">Comcast Corporation</a> (West Chester, PA)
    This is a great opportunity for a self-directed, team-oriented developer to
    join a large, stable company.  Our goal is to build a state-of-the-art
    Configuration Management Database (CMDB) and Operations Support Portal using
    Ruby on Rails and other related open source technologies.  The team utilizes
    Agile team-oriented processes with short iterations, developing and releasing
    frequently into production.  We’re test-obsessed and take pride in our code
    quality.  For more information, contact Henry Lansang
    (Henry_Lansang (at) cable.comcast.com or 201 804 9588)
  </li>
  <li>
    <a href="http://anticlothes.com">AntiClothes, LLC</a> is looking for a part
    time Ruby developer to develop an ecommerce back end to the new
    AntiClothes.com. We're located about 30minutes south of Trenton, and 30
    minutes from Philadelphia. The job can be handled via telecommute with
    weekly or biweekly meet ups in Philadelphia. This would be a contract
    position, with additional work available if things go smoothly. Email
    president (at) anticlothes.com for more information.
  </li>
</ul>
</div>
