<div>
  <h2>Ruby Jobs around Philadelphia</h2>

  <p>
    Anyone is welcome to post job offerings to the mailng list, just please follow these rules:
  </p>

  <ul>
    <li>Put "[JOB]" at the beginning of the subject</li>
    <li>Include the name and location of the company that's hiring</li>
    <li>Include some description of the desired skill set</li>
    <li>Do not include references to ninjas or rockstars</li>
  </ul>

  <p>
    We can also feature your posting on this page at your request. Of course,
    the best way to reach our members is to
    <a href="http://groups.google.com/group/phillyrb/post?sendowner=1&subject=Sponsorship">sponsor a meeting</a>.
    You simply pay for our meeting venue and some pizza and soda
    or other light dinner. All of our events are free to members and that's
    made possible by our generous sponsors.
  </p>

  <p>
    Email <a href="http://groups.google.com/group/phillyrb/post?sendowner=1">the organizers</a> if you are
    interested in posting or sponsoring.
  </p>

    <h2>Job Postings:</h2>
<ul>
  <li>
    <a href="http://thebossgroup.com">The Boss Group</a> is looking for a front end web developer with experience in HTML 5, CSS 3 and Ruby on Rails knowledge a plus.  Some who has coded a handful of websites.  The candidate will be trained and the company does expect a learning curve with Ruby on Rails, (however slight knowledge needed of Ruby on Rails).  1-2 days a week in the office (indyhall) the remaining days offsite. Company is a privately funded startup-  founders and board come from past successful software development companies.  Good opportunity for jr talent to grow skills with up and coming company. Contact d.richter (at) thebossgroup.com for more information.
  </li>
  <li>
    <a href="http://hoopla.net">Hoopla Software</a> is a funded, early-growth software firm founded in 2009 with headquarters in West Chester, PA. The company has built a complete performance optimization platform that leverages enterprise data, advanced game mechanics and sophisticated communication tools to cultivate a high-performance culture and drive results for employees.  We are looking for highly motivated, team-oriented agile software developers to play a key role in the development of our cloud-based gamification software platform. Desired skills: Ruby on Rails, JavaScript and PostgreSQL, jQuery, AJAX or other popular client-side frameworks, Unix and/or Linux, GIT, SVN. Contact Dave Fecak - dave(at)fecak.com.
  </li>
  <li>
    <a href="http://doc-vue.com">DocVue, Inc.</a><br />
    Newtown Square, PA<br />
    We are seeking smart and talented software engineers that enjoy problem solving and building useful products that make a difference in people's lives. You will work across the entire technology stack and be fully responsible for what you build -- from concept to design to implementation to deployment to maintenance.   You will write elegant, maintainable, robust, scalable code every day.  Experience coding in Java, Ruby, Perl and/or Python utilizing industry standard frameworks and open source technologies a must.  If interested or want more info, please contact <a href="mailto:info@doc-vue.com">info@doc-vue.com</a>.
  </li>
  <li>
    <a href="http://plehnanalytics.com">Plehn Analytics</a> supplies unique economic and financial solutions to the financial services industry leveraging U.S. government datasets (IRS, Census, BLS, BEA, Federal Reserve, etc.). Plehn currently has a team of 24 highly skilled individuals and seeks Programmers to quickly develop new data products to gain an edge in the financial services industry.Below are requirements for the job: Experience with Object-Relational Mapping frameworks such as Ruby on Rails, or similar. Experience with MVC-based Web 2.0+ development frameworks (AJAX, Javascript, JSON) communicating with ORM back end; Experience designing database schemas and writing SQL queries that deal with large datasets; Knowledge of R, SAS, MATLAB, or similar; Training in mathematics, economics, or finance; Debugging skills and the ability to write well-documented code;Part-time and full time positions are available. Though Plehn is based in Philadelphia, Programmers can work from their home or out of any location. For additional information and to apply, please email <a href="mailto:careers@plehnanalytics.com">careers@plehnanalytics.com</a>.
  </li>
  <li>
  <a href="http://packlate.com">PackLate.com</a> is a growing company in the vacation rental space that is
  looking for passionate, driven and talented people to play a key role
  in our dev team. We are a fast moving, dynamic team seeking developers
  who are excited by building new applications, platforms, and
  interfaces. The ideal candidate will have experience with Ruby on
  Rails, HTTP, HTML, CSS, JavaScript and AJAX. Experience with Chef /
  Puppet, Selenium, EngineYard (or similar cloud-based platforms) and
  Linux are a plus. If you find it exciting to face challenges like
  building high throughput real-time interfaces, high velocity queuing,
  and complex travel systems, chances are you’ll fit right in.  See our
  <a href="http://www.packlate.com/job">full job description</a> for more
  information.
  </li>
  <li>
    <a href="http://chariotsolutions.com">Chariot Solutions</a> (Ft. Washington, PA) is looking for experienced Ruby
    Developers with excellent problem-solving, communication and
    analytical skills, comfort with Rails and knowledge of SQL databases.
    Open to contractors and full time employees. Please send resume to
    careers (at) chariotsolutions.com.
  </li>
  <li>
    Come join us as engineer #2 (and employee #4)! <a
      href="http://lokalty.com">Lokalty</a> is a new kind of company building a
    transformational marketing platform for local businesses (see <a
      href="http://bit.ly/lokalty6abc">recent TV feature</a>). Check out <a
      href="http://lokalty.com">our site</a> or our “LOKALTY” iPhone/Android
    app to learn more. An ideal candidate would have at-least 2 year’s
    experience with Rails, must have experience building scalable
    infrastructures and be proficient with JS/JQuery. We offer a combination of
    salary, equity and laughter. If this opportunity piques your interest,
    please send your resume, a link to your Github profile (or to a project
    you’ve worked on) and a few words about yourself in the form of a "Who,
    What, Why" statement to <a
      href="mailto:jobs@lokalty.com">jobs@lokalty.com</a>.
  </li>
  <li>
    <a href="http://volunteerbig.com">VolunteerBIG</a> is a startup marketing
    company that seeks to use web technology to help us all have a greater
    impact in our home communities. We’re looking for a
    developer/programmer/coder to help create a web application that utilizes
    the All For Good API, Twitter, and Facebook APIs to combine social
    networking with information tracking and database management. If you are:
    strongly experienced building scalable and maintainable code in LAMP or an
    equivalent environment (Ruby on Rails, etc.) and a gifted database
    architect that can apply creative solutions with real world applications,
    please get in touch with Obi Okorougo @ 310/745-3239 or obi (at)
    volunteerbig.com.
  </li>
  <li>
    <a href="http://salescrunch.com">SalesCrunch</a> is looking for full-time
    engineers who have existing knowledge of Rails or really want to sink their
    teeth into it.  Our team of engineers have a thirst for knowledge.
    Regardless of what platform you use during the day, you should be
    experimenting with other languages like Clojure or other platforms like
    Node.js to grow your knowledge and understanding of what’s out there.
    Bending code to your will, hacking something that wasn’t meant to be, and
    making tests sing are among your favorite past times.  We're what you've
    been looking for in a company, product, and team.  Our HQ is in NYC but
    we're all telecommuting!
    <a href="http://www.salescrunch.com/rails-engineer">Job Description</a>
  </li>
</ul>
</div>
