<p>Thanks for a great year everyone! We had <%= @events.length %> presentations this year. All filled and sponsored. Thanks to everyone who presented and everyone who attended. And of course to our gracious sponsors for keeping our bellies full.</p>

<p>Here's the information about all the events incase you want to go back and look at any of the info.</p>

<%= render :partial => "events/event", :collection => @events, :locals => { :no_address => true } %>
